.content {
	.t1 {
		font-weight: 400;
		font-style: normal;
		letter-spacing: -.04em;

		@include mq($med, max-width) {
			margin-bottom: rem(spacing(1));
			font-size: rem(38px);
			line-height: rem(50px);
		}

		@include mq($med) {
			margin-bottom: rem(spacing(1.5));
			font-size: rem(48px);
			line-height: rem(60px);
		}
	}

	.t2 {
		font-weight: 400;
		font-style: normal;
		letter-spacing: -.06em;

		@include mq($med, max-width) {
			margin-bottom: rem(spacing(1));
			font-size: rem(30px);
			line-height: rem(39px);
		}

		@include mq($med) {
			margin-bottom: rem(spacing(1.5));
			font-size: rem(40px);
			line-height: rem(52px);
		}
	}

	.t3 {
		font-weight: 400;
		font-style: normal;
		letter-spacing: -.03em;

		@include mq($med, max-width) {
			margin-bottom: rem(spacing(1));
			font-size: rem(30px);
			line-height: rem(39px);
		}

		@include mq($med) {
			margin-bottom: rem(spacing(1.5));
			font-size: rem(38px);
			line-height: rem(50px);
		}
	}

	.t4 {
		font-weight: 500;
		font-style: normal;
		letter-spacing: -.03em;

		@include mq($med, max-width) {
			margin-bottom: rem(spacing(1));
			font-size: rem(20px);
			line-height: rem(26px);
		}

		@include mq($med) {
			margin-bottom: rem(spacing(1.5));
			margin-bottom: rem(29px);
			font-size: rem(22px);
			line-height: rem(29px);
		}
	}

	.p1,
	p {
		color: $dark;
		font-weight: 400;
		font-style: normal;
		letter-spacing: -.02em;

		@include mq($med, max-width) {
			margin-bottom: rem(spacing(1));
			font-size: rem(16px);
			line-height: rem(22px);
		}

		@include mq($med) {
			margin-bottom: rem(spacing(1.5));
			font-size: rem(16px);
			line-height: rem(22px);
		}
	}

	ul {
		list-style-type: disc;

		@include mq($med, max-width) {
			margin-bottom: rem(24px);
		}

		@include mq($med) {
			margin-bottom: rem(32px);
		}
	}

	&.is-center {
		text-align: center;
	}

	*:last-child {
		margin-bottom: 0;
	}

	*:not(.btn) {
		// color: $light;
	}
}
