$vh-fullscreen: 100vh;
$vh-halfscreen: 50vh;
$vh-1-thirdscreen: 42vh;
$vh-2-thirdscreen: 58vh;
$browser-context: 16px;
$max-width: 1520px;
$spacing: 16px;
$zero: 0;
$sml: 320px;
$med: 768px;
$lrg: 1024px;
$xlrg: 1280px;
$xxlrg: 1520px;
$max-width: 1190px;
