#canvas-search-replace-selector .canvas-search-replace-selector-l-row {
	display: flex;
	width: 100%;
	max-width: $max-width;
	margin-right: auto;
	margin-left: auto;
	flex-wrap: wrap;

	&.is-justify-center {
		justify-content: center;
	}

	&.is-align-center {
		align-items: center;
	}

	&.is-algin-top {
		align-items: flex-start;
	}

	&.is-algin-bottom {
		align-items: flex-end;
	}

	&.no-gutter {
		padding-right: 0;
		padding-left: 0;
	}

	&__col {
		width: 100%;

		@include rem((padding-left: spacing(1)));
		@include rem((padding-right: spacing(1)));

		@include mq($sml) {
			&.is-sml-half {
				width: column-width(3, 1.5);
			}

			&.is-sml-1-third {
				width: column-width(3, 1);
			}

			&.is-sml-2-third {
				width: column-width(3, 2);
			}

			&.is-sml-1-forth {
				width: column-width(4, 1);
			}

			&.is-sml-3-forth {
				width: column-width(4, 3);
			}
		}

		@include mq($med) {
			&.is-med-half {
				width: column-width(3, 1.5);
			}

			&.is-med-1-third {
				width: column-width(3, 1);
			}

			&.is-med-2-third {
				width: column-width(3, 2);
			}

			&.is-med-1-forth {
				width: column-width(4, 1);
			}

			&.is-med-3-forth {
				width: column-width(4, 3);
			}

			&.is-med-5 {
				width: column-width(12, 5);
			}

			&.is-med-7 {
				width: column-width(12, 7);
			}
		}

		@include mq($lrg) {
			&.is-lrg-half {
				width: column-width(3, 1.5);
			}

			&.is-lrg-1-third {
				width: column-width(3, 1);
			}

			&.is-lrg-2-third {
				width: column-width(3, 2);
			}

			&.is-lrg-1-forth {
				width: column-width(4, 1);
			}

			&.is-lrg-3-forth {
				width: column-width(4, 3);
			}
		}

		@include mq($xlrg) {
			&.is-xlrg-half {
				width: column-width(3, 1.5);
			}

			&.is-xlrg-1-third {
				width: column-width(3, 1);
			}

			&.is-xlrg-2-third {
				width: column-width(3, 2);
			}

			&.is-xlrg-1-forth {
				width: column-width(4, 1);
			}

			&.is-xlrg-3-forth {
				width: column-width(4, 3);
			}
		}

		&.is-relative {
			position: relative;
		}

		&.no-overflow {
			overflow: hidden;
		}

		&.is-left {
			text-align: left;
		}

		&.is-right {
			text-align: right;
		}

		&.is-center {
			text-align: center;
		}

		&.is-centered {
			display: block;
			margin-right: auto;
			margin-left: auto;
		}

		&.is-half {
			width: column-width(3, 1.5);
		}

		&.is-1-third {
			width: column-width(3, 1);
		}

		&.is-2-third {
			width: column-width(3, 2);
		}

		&.is-1-forth {
			width: column-width(4, 1);
		}

		&.is-3-forth {
			width: column-width(4, 3);
		}

		&.no-gutter {
			padding-right: 0;
			padding-left: 0;
		}

		&.no-gutter-right {
			padding-right: 0;
		}

		&.no-gutter-left {
			padding-left: 0;
		}
	}

	.canvas-search-replace-selector-l-row {
		width: auto;
		max-width: none;

		@include rem((margin-left: -(spacing(1))));
		@include rem((margin-right: -(spacing(1))));
	}
}
